@import "tailwindcss";

@media print {
  @page {
    margin: 0 !important;
    size: A4;
  }

  html,
  body {
    width: 210mm !important;
    height: 297mm !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
  }

  #root {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
